.thread:last-of-type{
    margin-bottom: 60px;
}

.thread{
    width: 100%;
    height: 100%;
    padding: 30px 10px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);

}

.thread_container{
    display: flex;
    align-self: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    
}

.thread_left_side{
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-self: stretch;
    position: relative;
}

.user_profile_image_container{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    justify-self: flex-start;
    align-self: flex-start;
    
}

.user_profile_image_container img{
    width: 100%;
    height: 100%;
}

.image_under_line{
    width: 2px;
    background-color: rgba(255, 255, 255, .2);
    height: calc(100% - 50px);
    position: absolute;
    top: 65px;
    left: 50%;
}

.thread_right_side{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 1rem;
    margin-top: 20px;
}

.username_and_time{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.username{
    margin-left: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ffffff;
}

.username::first-letter{
    text-transform: uppercase;
}

.time{
    display: flex;
    gap: 10px;
    align-items: center;
}

.time span{
    font-size: .8rem;
}

.thread_text{
   font-size: 1rem;
   letter-spacing: 1px;
   color: #ffffffec;
}
